

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    clear: both;
    display: block;
    content: "";
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.heading {
    background-color: #41d8dc;
    font-size: 40px;
}
.heading span{
    color: red;
}

.menu_link {
    background-color: #74db67;
    margin-top: 5px;
    text-align: center;
}
.menu_link ul li{
    display: inline;
    margin: 0 50px 5px 0;
}
.menu_link ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.menu_link ul li span{
    color: #333333;
    margin-left: 45px;
}



.footer{
    background-color: gray;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    [class*="col-"]{
        width: 100%;
    }

}
@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}










